.App {
  text-align: center;
}
.contacts-container {
  padding: 20px;
}

.contact {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 20px;

}
.form{
  padding-left: 20px;
}

.dp {
  text-align: center;
  color: rgb(93, 182, 227);
  padding: auto;
  font-weight: 700;
  font-size: xx-large;
  width: 50px;
  height: 50px;
  background-color: #ccc;
  border-radius: 50%;
  margin-right: 10px;
}

.info {
  flex: 1;
}

.delete{
  flex: 1;
}
.buttons{
  display: flex;
}


h2 {
  margin-bottom: 20px;
}

h3 {
  margin: 0;
  font-size: 18px;
}

p {
  margin: 0;
  font-size: 14px;
  color: #888;
}
